# HW designs are not tested, so leave them out for now until they are tested.
hw/LevelTranslatorForXiaoRp2040
hw/I3CBlasterTranslator

# leave out unnecessary KiCad backup and table/cache files
hw/LevelTranslatorXiaoRp2040-backups
hw/LevelTranslatorForXiaoRp2040/fp-info-table
hw/LevelTranslatorForXiaoRp2040/fp-info-cache
hw/LevelTranslatorForXiaoRp2040/sym-lib-table

src/build
blob/
_nonpublic
python/__pycache__
pictures/thumbs.db

# step files (those might be copyrighted, sorry!)
*.step

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
